# Ignore Python-related files
__pycache__/
*.pyc
*.pyo
*.log
env/
venv/

# Ignore database files
db.sqlite3

# Ignore environment variables
.env

# Ignore compiled files
*.pyc
*.pyo
*.pyd

# Ignore Docker-related files
*.env
docker-compose.override.yml
